.blog-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 140px;
  position: relative;
  width: fit-content;
}

.blog-section .title-4 {
  color: var(--gray-800);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 44.8px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.blog-section .article-list {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  padding: 0px 0px 0px 96px;
  position: relative;
  width: 1392px;
}

.blog-section .article-instance {
  white-space: unset !important;
}