.menu {
  align-items: center;
  display: flex;
  gap: 56px;
  position: relative;
  width: fit-content;
}

.menu .menu-item {
  color: var(--gray-800);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.menu .button {
  background-color: var(--gray-800) !important;
}

.menu .bold {
  font-weight: 700;
}
