.home {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px none;
  background-color: #ffffff;
  gap: 64px
}



.home .faq {
  align-self: stretch;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #0000001a;
  height: 879px;
  min-width: 1040px;
  position: relative;
}

.home .overlap-group-3 {
  height: 881px;
  left: -2px;
  position: relative;
  width: 1044px;
}

.home .question {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 48px;
  justify-content: center;
  left: 2px;
  padding: 40px 56px;
  position: absolute;
  top: 0;
  width: 1040px;
}

.home .number {
  color: var(--gray-500);
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50.4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .content-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 3px 0px 0px;
  position: relative;
}

.home .header-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  position: relative;
}

.home .block-title-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  position: relative;
}

.home .block-title {
  color: var(--gray-800);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 788px;
}

.home .flex-container-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 760px;
}

.home .flex-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 488px;
  width: 760px;
}

.home .span-wrapper {
  color: var(--gray-600);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 760px;
}

.home .text-wrapper-8 {
  color: #4b5563;
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.home .text-2 {
  color: var(--gray-600);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 760px;
}

.home .question-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-color: var(--gray-200);
  border-top-style: solid;
  border-top-width: 2px;
  display: flex;
  gap: 48px;
  justify-content: center;
  left: 0;
  padding: 40px 56px;
  position: absolute;
  top: 617px;
  width: 1044px;
}

.home .header-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
}

.home .block-title-2 {
  color: var(--gray-800);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1px;
  position: relative;
  width: 799px;
}

.home .chevron-icon-bg-instance {
  transform: rotate(-90deg) !important;
}

.home .chevronicon-3 {
  height: 24px !important;
  min-width: 24px !important;
  position: relative !important;
  transform: rotate(90deg) !important;
}

.home .question-3 {
  align-items: flex-start;
  background-color: var(--white);
  border-color: var(--gray-200);
  border-top-style: solid;
  border-top-width: 2px;
  display: flex;
  gap: 48px;
  justify-content: center;
  left: 0;
  padding: 40px 56px;
  position: absolute;
  top: 747px;
  width: 1044px;
}

.home .header-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
}

.home .block-title-3 {
  color: var(--gray-800);
  font-family: "Noto Sans Georgian", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1px;
  position: relative;
  width: 798px;
}

.home .button-2 {
  background-color: var(--gray-800) !important;
}

.home .contact-section-instance {
  left: 80px !important;
  position: absolute !important;
  top: 4287px !important;
}

.home .footer-instance {
  height: auto !important;
  left: 0 !important;
  mix-blend-mode: normal !important;
  position: absolute !important;
  top: 5058px !important;
}