.header {
  align-items: center;
  box-shadow: 0px 2px 4px #0e4e621a;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .logo-default-wrapper {
  align-self: stretch;
  height: 36px;
  min-width: 100px;
  position: relative;
}

.header .menu-instance {
  font-size: 14px !important;
  line-height: 19.6px !important;
}

.header .logo-wrapper {
  height: 32px;
  min-width: 157px;
  position: relative;
}

.header .logo-default-instance-wrapper {
  height: 32px;
  left: 12px;
  position: relative;
  width: 89px;
}

.header .logo-default-instance {
  height: 27px !important;
  top: 3px !important;
  width: 84px !important;
}

.header .logo-default-2 {
  height: 27px !important;
  width: 83px !important;
}

.header .logo-default-3 {
  height: 24px !important;
  width: 20px !important;
}

.header .logo-default-4 {
  height: 12px !important;
  left: 4px !important;
  top: 16px !important;
  width: 79px !important;
}

.header .logo-default-5 {
  height: 10px !important;
  left: 23px !important;
  width: 60px !important;
}

.header .logo-default-6 {
  height: 30px !important;
  width: 85px !important;
}

.header .menu-icon-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 32px;
  justify-content: space-around;
  padding: 0px 12px;
  position: relative;
  width: 56px;
}

.header .menu-icon {
  height: 32px !important;
  min-width: 32px !important;
  position: relative !important;
}

.header.is-mob-0-false {
  background-color: var(--white);
  padding: 12px 120px;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.header.is-mob-0-true {
  background-color: var(--gray-100);
  padding: 12px;
  width: 390px;
}