.logo-default {
  height: 34px;
  width: 96px;
}

.logo-default .overlap {
  height: 31px;
  left: 2px;
  position: relative;
  top: 4px;
  width: 94px;
}

.logo-default .overlap-group {
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 94px;
}

.logo-default .ring {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.logo-default .key {
  height: 13px;
  left: 5px;
  position: absolute;
  top: 18px;
  width: 89px;
}

.logo-default .name {
  height: 11px;
  left: 26px;
  position: absolute;
  top: 4px;
  width: 68px;
}
